body{
    margin: 0;
    padding: 0;
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2Foriginals%2F18%2F5f%2F3e%2F185f3e23f2c44364a91ecb2084d48079.jpg&f=1&nofb=1);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}